body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.blog-box {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    text-align: center;
}



#haddingText {
    text-align: center;
}

#profileImage {
    width: 120px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 5px; /* Optional: Add margin at the bottom of the image */
    align-self: center;

}


.button-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed, can use 'space-between' or 'space-evenly' too */
}

#button1, #button2 {
    padding: 10px 20px;
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1vh;

}

#button1:hover, #button2:hover {
    background-color: #45a049;
}


.box {
    width: 200px;
    height: 200px; /* Optional: Set the height of the boxes */
    padding: 20px;
    border: 1px solid #000;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
}
